{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "globals": {

  },
  "parserOptions": {
    "sourceType": "module"
  }
}